<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<!-- ======= Sidebar ======= -->
<div class="col-lg-3" th:fragment="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img th:if="${user.avatar}" th:src="@{'/images/user/' + ${user.avatar}}" alt="Profile"
                         class="mb-2" style="width: 150px; height: 150px;">
                    <img th:unless="${user.avatar}" th:src="@{/assets/img/avatar-default.jpg}" alt="Profile"
                         class="mb-2" style="width: 150px; height: 150px;">
                    <span th:text="${user.fullName}"></span>
                    <span th:text="${user.phoneNumber}"></span>
                    <span th:text="${user.email}"></span>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/profile}">
                <i class="bi bi-person"></i>
                <span>Thông tin tài khoản</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/order}">
                <i class="bi bi-basket2"></i>
                <span>Đơn hàng của tôi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/contact}">
                <i class="bi bi-envelope"></i>
                <span>Liên hệ hỗ trợ</span>
            </a>
        </li>
        <li>
            <a class="nav-link collapsed" th:href="@{/profile/change-password}">
                <i class="bi bi-shield-lock"></i>
                <span>Đổi mật khẩu</span>
            </a>
        </li>
        <li class="nav-heading">
            <hr>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/logout}">
                <i class="ri-logout-box-fill"></i>
                <span>Đăng xuất</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>